---
import { Image } from 'astro:assets';
import { urlForImage } from '../../sanity/urlBuilder';

export type Student = {
  _id: string;
  image: ImageMetadata;
  relationship: number;
  slug: {
    current: string;
  };
  studentName: string;
  ytLink: string;
};

type StudentData = {
  props: Student;
};

type Props = {
  data: StudentData[];
};

const { data } = Astro.props;
---

<ul
  id='list'
  class='text-[--clr-neutral-1] px-2 py-4 w-full h-full grid sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center'
>
  {
    data.map((student: StudentData) => (
      <li class='bg-[--clr-primary-3] h-[270px] w-[300px] flex flex-col justify-center items-center -skew-x-6 [&>*]:flex-1 rounded-xl '>
        <a
          class='p-4 relative group'
          href={`/lobbies/${student.props.slug.current}`}
        >
          <Image
            src={urlForImage(student.props.image).url()}
            alt={student.props.studentName}
            width={250}
            height={250}
            loading={'eager'}
            class={
              'object-cover h-full rounded-xl group-hover:brightness-50 group-hover:transition'
            }
            transition:name={`${student.props.studentName}`}
          />
          <p class='absolute bottom-4 text-2xl opacity-0 group-hover:opacity-100 transition-all group-hover:transition-all text-[--clr-neutral-1]'>
            {student.props.studentName}
          </p>
        </a>
      </li>
    ))
  }
</ul>
