---
import { Image } from 'astro:assets';
import { urlForImage } from '../../sanity/urlBuilder';
import AffectionIcon from '../../assets/affection.webp';

export type Student = {
  _id: string;
  image: ImageMetadata;
  relationship: number;
  slug: {
    current: string;
  };
  studentName: string;
  ytLink: string;
};

type StudentData = {
  props: Student;
};

type Props = {
  data: StudentData[];
};

const { data } = Astro.props;
---

<!-- first 3: :nth-child(-n+3) --><!-- next 3: :nth-child(-1n+6) --><!-- last 3: :nth-child(n+7) -->
<ul
  id='list'
  class='text-[--clr-neutral-1] px-2 py-4 w-full h-full grid sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center pb-32 lg:[&>li:nth-child(-n+3)]:translate-x-[1.7rem] lg:[&>li:nth-child(n+7)]:-translate-x-[1.7rem]'
>
  {
    data.map((student: StudentData) => (
      <li class='bg-[--clr-primary-3] h-[260px] w-[300px] flex flex-col justify-center items-center -skew-x-6 [&>*]:flex-1 rounded-xl '>
        <a
          class='p-4 relative group'
          href={`/lobbies/${student.props.slug.current}`}
        >
          <Image
            src={urlForImage(student.props.image).url()}
            alt={student.props.studentName}
            width={300}
            height={300}
            loading={'eager'}
            class={`object-cover h-full rounded-xl group-hover:brightness-50 group-hover:transition  opacity-0 animate-lobby`}
            transition:name={`${student.props.studentName}`}
          />
          <p class='absolute bottom-4 text-2xl opacity-0 group-hover:opacity-100 transition-all group-hover:transition-all text-[--clr-neutral-1]'>
            {student.props.studentName}
          </p>
          <div class='absolute top-6 left-6 '>
            <div class='relative'>
              <Image src={AffectionIcon} alt={''} />
              <small class='absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-[--clr-secondary-1] text-xl '>
                {student.props.relationship}
              </small>
            </div>
          </div>
        </a>
      </li>
    ))
  }
</ul>
