---
import '../globals.css';
import Navbar from '../components/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';
import AronaRoom from '../assets/bg/AronaRoom.webp';
import { Image } from 'astro:assets';
import { SEO } from 'astro-seo';

type Props = {
  title: string;
  studentName: string;
  studentImage: string;
};

const { title, studentName, studentImage } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <SEO
      title={title}
      titleDefault='Lobby Archive - Memorial Lobby Collection'
      description={`View ${studentName}'s-specific animated memorial lobby as-is within the browser or download as a video file. Select or search for your favorite student.`}
      openGraph={{
        basic: {
          title: `Lobby Archive - ${studentName}'s Memorial Lobby`,
          type: 'video',
          image: studentImage,
        },
        optional: {
          siteName: `Lobby Archive`,
          description: `View ${studentName}'s-specific animated memorial lobby as-is within the browser or download as a video file. Select or search for your favorite student.`,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        title: `Lobby Archive - ${studentName}'s Memorial Lobby`,
        image: studentImage,
        imageAlt: studentName,
        description: `View ${studentName}'s-specific animated memorial lobby as-is within the browser or download as a video file. Select or search for your favorite student.`,
      }}
    />
  </head>
  <body class='relative bg-center bg-no-repeat'>
    <div
      transition:persist='arona'
      class='fixed overflow-hidden h-screen w-full -z-50'
    >
      <video
        playsinline
        autoplay
        muted
        loop
        disablepictureinpicture
        class='absolute top-0 left-0 h-full w-full object-cover object-[20%] xl:object-center'
        src='https://res.cloudinary.com/dqbuiemre/video/upload/v1722562924/arona_ce80pm.mp4'
      >
        <Image src={AronaRoom} alt={'Arona Room'} />
      </video>
    </div>
    <Navbar />
    <slot />
  </body>
</html>
